<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Artist</td>
            <td>Duration</td>
            <td>Released</td>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>MTV</td>
            <td>rock</td>
            <td>Nirvlas</td>
            <td>03:50</td>
            <td>2014</td>
        </tr>
    </tbody>
</table>